---
title: "VoiceGym"
layout: splash
header:
    overlay_color: "#440820"
    overlay_filter: "0.7"
    overlay_image: /images/hero.jpg
    actions:
        - label: "Download" 
          url: "/download/"
    caption: "[**Photo by Dominic Lowyears on Unsplash**](https://unsplash.com)"
excerpt: "VoiceGym ist ein Spektrogrammrekorder für Android, der dich bei deinem Stimmtraining unterstützen möchte."
intro: 
  - excerpt: 'Wir möchten sichtbar machen was ein ungeschultes Gehör noch nicht wahrnehmen kann. In der Hoffnung dass diese Anwendung sich selbst überflüssig macht.'

feature_row:
  - title: "Echtzeit und Aufnahme"
    excerpt: "Du kannst dir das Spektrogramm interaktiv vor einer, während einer und nach der Aufnahme dir anzeigen
    lassen."
    url: "/usage/"
    btn_label: "Bedienung"
    btn_class: "btn--primary"
  - title: "Konfigurierbar"
    excerpt: "Die Darstellung des Spektrograms ist konfigurierbar für deine Vorlieben. Das dargestellte Frequenzband kann frei gewählt werden (von 10 bis 22kHz). Du kannst eine logarithmische oder lineare Darstellung wählen."
    url: "/configuration/"
    btn_label: "Mehr Details"
    btn_class: "btn--primary"
  - title: "Open Source"
    excerpt: "Unser gesamter Quellcode ist veröffentlicht unter der GNU General Public License (Version 3.0). Ihr seid eingeladen mit Ideen, Verbesserungsvorschläge oder gar Codebeiträgen mitzuhelfen."
    url: "/contribute/"
    btn_label: "Mithelfen"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
