---
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ site.keywords }}">
	  <meta name="description" content="{{ site.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    
</head>
<body id="home">
    <span id="forkongithub">
        <a href="{{ site.source_link }}" class="bg-blue">
          Fork me on GitHub
        </a>
      </span>
    <div id="main">
        <nav class="top-menu"><ul>
          <li class="p-home"><a href="#home">VoiceGym</a></li>
            {% for node in site.posts reversed %}
              {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
              <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
            {% endfor %}
          </ul></nav>
          
          <div id="hero" class="hero">
            {% include hero.html %}
          </div>

          {% for page in site.posts reversed %}
          {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
          <div id="{{id}}" class="section p-{{id}}">
            {% if page.fa-icon %}
            <div class="subtlecircle sectiondivider fa-10x">
              <span class="fa-layers">
                <i class="fas fa-circle" data-fa-transform="grow-10"></i>
                <i class="{{ page.fa-icon }}"></i>
              </span>
              <!-- <h5 class="icon-title">{{ page.title }}</h5> -->
            </div>
            {% endif %}
            <div class="container {{ page.style }}">
              {{ page.content }}
            </div>
          </div>
          {% endfor %}
    </div>

    {% include footer.html %}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="main.js"></script>
</body>
</html>