<footer>
    <div class="container">

        <div class="row">

            <div class="funded-by">Gefördert von</div>
        </div>

        <div class="row footer-logos">
            <div class="one-third column footer-logo">
                <a href="https://www.bmbf.de/" target="_blank">
                    <img src="{{ .Site.BaseURL }}images/BMBF_Logo.svg" />
                </a>
            </div>

            <div class="one-third column footer-logo">
                <a href="https://okfn.de/" target="_blank">
                    <img src="{{ .Site.BaseURL }}images/Logo_okfde_black.svg" />
                </a>

            </div>
            <div class="one-third column  footer-logo">
                <a href="https://prototypefund.de/" target="_blank">
                    <img height="100px" src="{{ .Site.BaseURL }}images/PrototypeFund-P-Logo.svg" />
                </a>


            </div>
        </div>

    </div>

    <div class="impress">
        <nav class="footer-menu">
            <ul>
                <li><a href="impressum.html">Impressum</a></li>
            </ul>
        </nav>
    </div>

    <div class="attribution">

        <p>Made with ❤ and 💦 by
            <a href="https://github.com/pektinasen">Saskia</a>, and this great
            <a href="https://github.com/t413/SinglePaged/">Single Page Theme</a>
        </p>
    </div>
</footer>