$darkprimary: #440820;
$lightprimary: #741B47;
$primary: #611437;
$textOnPrimary: #EEE4E9;
$textOnWhite: #BA8DA3;
$accent: #FF4786;
$divider: #9E5F7E;

.banner-primary {
    background-color: $primary;
    color: $textOnPrimary;
}