<footer id="page-footer">
        <div id="funded-by" class="text-center">Gefördert von</div>
        <div class="footer-logos">

            <a href="https://www.bmbf.de/" target="_blank">
                <img height="130px" class="funded-logo" src="{{ .Site.BaseURL }}images/BMBF_Logo.svg" />
            </a>
            <a href="https://okfn.de/" target="_blank">
                <img height="130px" class="funded-logo" src="{{ .Site.BaseURL }}images/Logo_okfde_black.svg" />
            </a>

            <a href="https://prototypefund.de/" target="_blank">
                <img height="130px" class="funded-logo" src="{{ .Site.BaseURL }}images/PrototypeFund-P-Logo.svg" />
            </a>
        </div>

        <p class="w-100 text-center">Made with ❤ and 💦 by
            <a href="https://github.com/pektinasen">Saskia</a>
        </p>
        <p class="w-100 text-center">
            <a href="#">{{ i18n "backToTop" }}</a>
        </p>
</footer>